# Python currently utilised is Python 3.10

# Packages to download
numpy          # Numerical arrays & math routines
pandas         # Data manipulation & analysis
pymoo          # Multi‐objective optimization (NSGA‑II, etc.)
numpy‑financial  # Financial functions (IRR, NPV, etc.)
nrel‑pysam       # PV & battery system modelling (PySAM)
openpyxl       # Excel I/O support for pandas
scipy          # Scientific computing routines
matplotlib     # 2D plotting library
seaborn        # High‑level statistical plotting API
tqdm           # Progress bars in loops

# To install on personal machine

pip install numpy pandas pymoo numpy‑financial nrel‑pysam openpyxl scipy matplotlib seaborn tqdm