# Core modeling libraries
NREL-PySAM
pandas
numpy
matplotlib

# Excel file reading
openpyxl

# Advanced numerical methods (for optimization later)
scipy

# Better data visualisation
seaborn

# Progress bars for loops
tqdm
